InputQuery (
    query: r#"
{
    User(name: "patio11") {
        submitted {
            ... on Comment {
                text @output

                parent @recurse(depth: 10) {
                    ... on Story {
                        title @output

                        submitter_: byUser {
                            id @output
                        }
                    }
                }
            }
        }
    }
}"#,
    args: {
        "url_pattern": String("http[s]?://[a-z0-9_\\-.]*kalzumeus\\.com/"),
    },
)
